[2019-02-07 17:13] alvesmatheus opened #3 "Outros types para o data.js"
Seria legal criar uma listinha dos types existentes (com a definição do que ele contém) e como definir novos types... Por exemplo, pra colocar PRE no data.js, qual seria o type adequado?

[2019-02-07 18:44] thayannevls commented on #3
Verdade, vou criar um documento com os que já foram colocados e como sugerir novos. Confesso que ainda não sei bem que types abordar kkk.

Até agore pensei em:

- Local (Que poderia envolver Salas, blocos e etc)
- Disciplina
- ? Período ? (p1, p2..)
- Curso
- ...

[2019-02-08 02:34] thayannevls opened #4 "Centralizar componente de pesquisa e título da página"
Atualmente a página está no topo sem formatação nenhuma, ideal é que ficassem no meio centralizadas.

<img width="1679" alt="screen shot 2019-02-07 at 23 29 17" src="https://user-images.githubusercontent.com/6867958/52455862-ea400700-2b30-11e9-91c8-5e870a29dd45.png">

[2019-02-09 00:08] pedroespindula opened #6 "Adicionar Favicon"
Apesar de possuir o arquivo de Favicon no caminho `assets/images/favicon.ico`, o favicon não é mostrado.

[2019-02-09 00:18] pedroespindula opened #7 "Siglas com multiplos sentidos"
Algumas siglas usadas na UFCG tem mais de um sentido. P1, por exemplo, pode ser usada tanto para se referir a cadeira de programação 1, como também sobre a cadeira de Projeto 1, assim como o primeiro periodo do curso.

[2019-02-09 00:25] pedroespindula commented on #7
Sugestão: Reestruturar o data.js de forma que o acronym seja um objeto onde a chave seria o "acronym" e o valor seria uma lista de objetos que expressariam o que aquela sigla representaria.
- Exemplo:
[code]

[2019-02-09 00:33] pedroespindula commented on #7
Além disso, a reestruturação do data.js desse modo, facilitaria a ordenação das chaves para a sua exibição na caixa de pesquisa.

[2019-02-09 00:42] JoseRenan commented on #6
Oi, @pedroespindula, estamos aguardando @hericlesme finalizar o ícone do glossário, mas no meio tempo podemos adicionar o favicon da organização mesmo, adicionei a label de good first issue

[2019-02-09 00:44] #4 closed, assigned to nobody

[2019-02-09 01:02] JoseRenan commented on #7
Ótima sugestão, acredito que ao reestruturar pra aceitar múltiplos significados, poderíamos adicionar um atributo com aplicação em frases também, pra expressões como "rasgar", "rasguei a prova de estatística", o que acham?

[2019-02-09 01:02] JoseRenan commented on #7
Ping @paulojbleitao @thayannevls

[2019-02-09 01:32] thayannevls commented on #7
Acho ótimo @JoseRenan . Haveria objetos diferentes pra sigla e gírias? Ou bota tudo num só?

[2019-02-09 01:40] pedroespindula commented on #7
Eu acho que colocaria-se tudo num objeto do mesmo "tipo" digamos assim. Iriam só ter alguns campos diferentes mas seriam passados pra o componente Description do mesmo jeito e ele quem se encarregaria de mostrar os dados referentes aquele objeto.

[2019-02-09 02:58] JoseRenan opened #8 "Hot Reload CSS"
Atualmente o webpack não está atualizando automaticamente a página ao alterar algum CSS em modo de desenvolvimento.

[2019-02-09 02:58] JoseRenan commented on #8
Numa rápida pesquisa encontrei [esse loader](https://github.com/shepherdwind/css-hot-loader#webpack-4) que promete fazer isso porém nunca testei.

[2019-02-09 14:18] thayannevls opened #12 "Adicionar um ícone pequeno do github e da página do portal"
Seria bom ter um ícone pequeno do Github no bottom da página que redirecionasse pro repositório. O que acham?

[2019-02-09 14:20] thayannevls commented on #7
Bem, então acho que só renomear o objeto de `acronyms` pra `terms`.

Essa issue foi resolvida em #10 né? Então acho que pode fechar

[2019-02-09 14:43] pedroespindula commented on #7
Não completamente, a reestruturação no data.js foi feita, mas está faltando integrar o front com a alteração adicionando a navigation bar e as setas pra trocar os sentidos.

[2019-02-09 14:44] pedroespindula commented on #12
Acho interessante. Poderia colocar também o icone do OpenDev e redirecionar pra pagina da organização.

[2019-02-10 14:36] JoseRenan opened #14 "Adicionar configuração de produção no webpack"
Criar uma nova configuração do webpack (`webpack.prod.js`) com configurações de produção segundo os guidelines [da documentação do react](https://reactjs.org/docs/optimizing-performance.html#webpack) e configurar o script `yarn build` para execução do build usando a nova configuração do webpack.

OBS: A configuração atual deve ser mantida para desenvolvimento.

[2019-02-10 16:27] #7 closed, assigned to nobody

[2019-02-11 15:50] #8 closed, assigned to nobody

[2019-02-12 02:05] JoseRenan opened #16 "Suporte a gírias e expressões da universidade"
Atualmente o Glossário está dando suporte aos significados diretos das siglas comumente usadas em ciência da computação na UFCG, porém parte dos termos que os feras não costumam conhecer são gírias e expressões como: bola, leite, tamburete, pijama e etc.

Acredito que não precisaríamos modificar nossa estrutura atual para adicionar isso, porém seria interessante adicionar um atributo que tivesse e

[2019-02-12 12:08] pedroespindula commented on #16
A inclusão de um campo `atributos adicionais` no objeto resolveria isso. O valor dele seria um array de objetos que conteriam o nome do atributo adicional e o valor daquele atributo. Assim, o próprio card renderizaria todos os atributos adicionais específicos de cada objeto.

[2019-02-12 21:02] JoseRenan commented on #16
Isso não deixaria confuso caso a gente criasse muitos atributos pra outras coisas extras? tipo links ou slá

[2019-02-12 21:48] pedroespindula commented on #16
Acredito que possa ficar um pouco confuso para a manutenção do data.js sim. Outra maneira de resolver isso é adicionando um atributo descrição em si contendo tudo.

[2019-02-12 21:54] pedroespindula commented on #16
Para facilitar o entendimento estão aqui exemplos de aplicação da ideia de `atributos extra` e da ideia da `descrição`

- Atributos extra:
[code]
- Descrição:
[code]

[2019-02-12 21:59] JoseRenan commented on #16
Nesse caso a gente incluiria as aplicações em frases também na descrição? A propósito, é uma boa discutir também se é útil ter as aplicações em frases nos termos ou se a definição já seria suficiente

[2019-02-12 22:42] thayannevls commented on #16
Sou a favor de ter aplicações em frases sempre, até porque podemos incluir algumas frases engraçadas e irônicas. Mas mediria os esforços em mexer nesse Json, já que provavelmente depois da SdF iremos implementar um Banco e uma API

[2019-02-15 23:26] juliobguedes opened #18 "Adicionar links levando a mapas para termos que representam locais"
Foi levantado o tópico sobre ter mais informações, de modo que ao mostrar o que a sigla significa, mostrar também uma breve explicação sobre o que é. Além disso, modificações para incluir hiperlinks levando à mapas, para o exemplo de siglas de blocos (e.g. CAA), devem também ser feitas.

[2019-02-16 00:26] JuanBarros2 opened #19 "Ordenar o arquivo com os dados dos termos alfabeticamente"
Acredito que o nosso arquivo de dados que contém os significados está crescendo bastante e não teremos um bom controle se crescer mais. Gostaria de sugerir a correção do formato para que fosse utilizado uma lista em ordem alfabética para evitar duplicações e retrabalho.

[2019-02-16 00:30] paulojbleitao opened #20 "Tornar o site responsivo"
É uma das maiores prioridades atualmente, acredito que a maioria dos usuários acessará pelo celular. 🤔

[2019-02-16 00:46] JoseRenan commented on #19
Concordo. A forma rápida de fazer isso é rodar um scriptzinho pra ordenar e gerar o novo JSON e mandar PR pro `data.js`, vou marcar como good first issue e renomear a issue

[2019-02-16 01:24] thayannevls commented on #16
Sou a favor da segunda estrutura mostrada por @pedroespindula , junto com o array de Aplicações de frases.

[2019-02-16 01:31] thayannevls commented on #18
Parecido com o que foi discutido #16

[2019-02-16 01:42] alvesmatheus opened #21 "Separar os dados dos termos em várias coleções"
Atualmente os dados do data.js estão acumulando siglas, blocos, gírias, disciplinas, etc numa só coleção. Porém, cada tipo de termo requer uma estrutura específica e essa abordagem também dificulta a contribuição... Por isso, qual seria a melhor forma de reestruturar esses dados?

[2019-02-16 01:46] thayannevls commented on #21
Gostei muito da ideia, acho que iria facilitar muito o entendimento, fico na dúvida se seria bom separar entre siglas e gírias, já que sigla e gíria podem ser disciplinas, locais e etc.

[2019-02-16 02:23] JoseRenan commented on #3
Vou fechar a issue discutirmos melhor na #21

[2019-02-16 02:23] #3 closed, assigned to nobody

[2019-02-16 02:47] JoseRenan commented on #18
Vou renomear a issue e editar a descrição pra tratar de mapas e localização, já que a parte de descrição já está sendo discutida no #16

[2019-02-16 03:56] JoseRenan commented on #16
Então fica assim a nova estrutura:
[code]
Todos de acordo?

[2019-02-16 04:07] JoseRenan commented on #16
Considerando uma nova estrutura, independente de qual escolhamos, também acho que terríamos de rever o layout por não termos espaço na tela suficiente pra mostrar todas as novas informações e tal... Pensando nisso, fiz uns protótipos de como organizar a informação na tela (sem pensar em cores fontes e etc). Seguem abaixo dois exemplos:

![image](https://user-images.githubusercontent.com/11728746/5

[2019-02-16 04:10] juliobguedes commented on #16
Assim ficou bem show

[2019-02-16 04:19] juliobguedes commented on #19
Vou fazer esse script aqui, logo mais mando um PR

[2019-02-16 04:31] juliobguedes commented on #21
Acho que vale a pena separar, ainda no `data.js`, entre alguns arrays específicos e exportar os específicos também, e não só o default de acronimos, como é atualmente. Mas, como @thayannevls disse, creio que facilite separar, mas discordo separar apenas entre sigla (que inclui locais, disciplinas e outras coisas) e gírias, que são apenas nossas expressões... Acho que fica melhor separar: locais, g

[2019-02-16 04:36] JoseRenan commented on #21
Outra sugestão que foi feita foi separar por type, considerando definir types fixos que nuca mudaremos como disciplina, local, gíria, curso e outros (que seria uma categoria pros que não se encaixam em nenhum)

[2019-02-17 15:38] thayannevls opened #24 "Configurar o travis para rodar o lint"
O travis não está rodando o lint, é preciso configurar pra rodar o comando `yarn run lint`. Acompanhado dessa task tem que resolver os erros já existentes.

[2019-02-17 17:08] #19 closed, assigned to nobody

[2019-02-18 16:59] thayannevls opened #25 "Roteamento de termos não está funcionando corretamente"
Ao pesquisar um termo, ele deveria colocar em `https://opendevufcg.github.io/glossario-ufcg/<termo>`, mas ao invés disso ele faz `https://opendevufcg.github.io/<termo>` e retorna erro 404.

[2019-02-18 17:04] JoseRenan commented on #25
Right, esse problema não acontece em ambiente de desenvolvimento, só em produção.
[Isso](https://medium.com/@Dragonza/react-router-problem-with-gh-pages-c93a5e243819) deve resolver

[2019-02-24 21:33] juliobguedes commented on #21
Gente, eu sugiro/proponho que, junto a essa issue, os dados da gente sejam mantidos em arquivos `.json`... Isso ajudaria a refatorar o script que eu fiz de ordenar as chaves do arquivo pra rodar automaticamente por nn precisar do package que eu usei, e ainda assim eles podem ser importados pelos arquivos js sem causar problemas... posso pegar essa issue quando for decidido as categorias que separa

[2019-02-26 06:46] juliobguedes opened #27 "Corrigir Alinhamento"
Sempre que pesquisamos por alguma sigla no glossário, o resultado por extenso não fica centralizado:
![image](https://user-images.githubusercontent.com/23748073/53392729-0806cc00-3979-11e9-9a44-2444a9fc937b.png)

Isso deve ser corrigido, de forma a dar uma melhor aparência ao site

[2019-02-27 03:32] JoseRenan commented on #21
@juliobguedes por mim tá top... dividiríamos os dados em 5 arquivos json:

- Disciplinas (Para siglas e nomes de disciplinas)
- Locais (Para siglas e nomes de locais da UFCG)
- Gírias (Para gírias que usamos no dia a dia da universidade)
- Cursos (Para siglas e nomes de cursos)
- Outros (Para os que não se encaixarem em nenhuma outra categoria KKKKK)

É bom levar em consideração que talvez possa h

[2019-02-27 03:51] #27 closed, assigned to nobody

[2019-02-27 04:00] JoseRenan commented on #21
Ou seja, ter um cuidado extra na hora de juntar os arrays e estar preparado para esse caso

[2019-02-27 15:07] JoseRenan commented on #25
Dando reopen pq deu negado o #26 kkkkkkkkkkkkkkkkkk

[2019-02-27 16:39] thayannevls commented on #25
KKKKKKKKKKKKKKKKKKK

[2019-03-03 01:52] thayannevls opened #32 "Melhorar documentação de adição de termos novos"
A documentação de termos novos no `CONTRIBUTING.md` está muito rasa, é preciso documentar melhor como fazer, os tipos existentes, como um termo pode ser um array de vários objetos e etc.

[2019-03-04 01:14] thayannevls opened #33 "Criar PULL_REQUEST_TEMPLATE pro repositório"

[2019-03-04 01:15] thayannevls opened #34 "Criar ISSUE_TEMPLATE pro repositório"

[2019-03-04 17:14] JoseRenan commented on #21
Resolvido no #35

[2019-03-04 17:14] #21 closed, assigned to juliobguedes

[2019-03-04 17:22] #16 closed, assigned to nobody

[2019-03-04 22:21] #34 closed, assigned to nobody

[2019-03-04 22:26] pedroespindula commented on #25
#### Causa do problema:

O github pages não suporta o roteamento do jeito que está sendo feito agora. [Link para mais informações](https://itnext.io/so-you-want-to-host-your-single-age-react-app-on-github-pages-a826ab01e48).

#### Possiveis soluções:

Soluções propostas pela propria documentação do React.

- Substituir o BrowserRouter pelo HashRouter. No entanto, a rota iria ficar `/#/<termo` ao i

[2019-03-04 23:29] JoseRenan commented on #25
Ping @paulojbleitao

[2019-03-04 23:30] JoseRenan commented on #25
Eu acho que não seria uma boa ideia tirar do gh-pages agora, e aho que o 404.html é uma gambiarra triste KKKKKKK Acho que nn é um problema passar pra hashrouter

[2019-03-05 01:33] thayannevls opened #41 "Criar um issue template especial para adição de termo"
**Descrição da melhoria:**
Algumas pessoas apenas querem sugerir a adição de um termo para que outra pessoa adicione nossos dados. Seria interessante criar um **issue template** especial para esse tipo de request, que a pessoa preencha direitinho esses campos:

- Nome do termo
- Significado
- Descrição
- Tipo (Mostrar os tipos que tem pra ele escolher, pode ser um checkbox que ele marca o que ele

[2019-03-05 01:44] #33 closed, assigned to nobody

[2019-03-05 01:45] pedroespindula commented on #41
Isso tem relação com a #32. (Comentário feito apenas para referenciamento da Issue)

[2019-03-05 02:24] #41 closed, assigned to pedroespindula

[2019-03-05 03:12] #32 closed, assigned to nobody

[2019-03-05 03:45] JoseRenan opened #44 "Preencher e melhorar os dados de termos que possuimos"
Bem, vamos começar com uma historinha... Inicialmente a gente pensava no glossário apenas como um site pra gente descobrir o que significa algumas siglas do curso de computação... porém com o tempo a gente viu que tem muitos outros termos que poderíamos adicionar como gírias da universidade e etc. Por causa disso, maioria dos nossos dados continham apenas a sigla e o que ela significa "por extenso

[2019-03-05 03:48] pedroespindula commented on #44
CC - Ciência da Computação - O melhor curso da UFCG

[2019-03-05 03:53] JoseRenan commented on #44
Pra galera do @OpenDevUFCG/glossario-ufcg que tiver revisando os PRs, lembrem de marcar os que estão merjando aqui!!

[2019-03-05 03:56] thayannevls commented on #6
@JoseRenan @pedroespindula Agora temos um ícone :D

[2019-03-05 04:28] thayannevls opened #46 "Adicionar termo "Fera""
#### Nome do termo:

Fera
#### Significado do termo:

Novo aluno no curso.

#### Descrição:

Termo geralmente usada para designar novos alunos nos cursos de faculdade.

#### Tipo:

- [ ] Curso
- [ ] Disciplina
- [x] Giria
- [ ] Local
- [ ] Outro

#### Exemplo de aplicação em frase:

"Andando pelos corredores sorrindo? Só pode ser **fera**..."

[2019-03-06 16:53] #46 closed, assigned to nobody

[2019-03-06 17:17] #12 closed, assigned to nobody

[2019-03-06 18:04] #25 closed, assigned to nobody

[2019-03-07 04:09] JoseRenan commented on #20
Adicionei o label pra nova UI, já que essa versão atual já estará pronta pra SdF

[2019-03-07 04:11] JoseRenan commented on #6
Vou reabrir pois na nova UI ainda não está com o favicon

[2019-03-09 18:45] thayannevls opened #59 "Pode adicionar link pro maps nos significados?"
Em termos que são locais, posso adicionar sua localização no google maps através de um link?

Exemplo: LCC3 -> https://goo.gl/maps/AvG7MYGsqZ92

[2019-03-09 22:11] JoseRenan commented on #59
Tem uma issue que discute isso #18, o negócio ainda não dá suporte a links, a ideia é que na versão pós nova ui a gente adicione atributos específicos de cada tipo de termo, e nos locais a gente teria o link no maps, ou coisas do tipo, até pra gente plotar um mapinha se possível. Mas por enquanto, a gente tá tentando descrever o local mais verbalmente mesmo, por exemplo, LCC3 seria o bloco que fic

[2019-03-09 22:11] JoseRenan commented on #59
Vou marcar como duplicate do #18 e fechar, blz?

[2019-03-09 22:11] #59 closed, assigned to nobody

[2019-03-09 22:12] JoseRenan commented on #18
Update: a ideia é que na versão pós nova ui a gente adicione atributos específicos de cada tipo de termo, e nos locais a gente teria o link no maps, ou coisas do tipo, até pra gente plotar um mapinha se possível. Mas por enquanto, a gente tá tentando descrever o local mais verbalmente mesmo, por exemplo, LCC3 seria o bloco que fica por trás do LSD... etc

[2019-03-09 23:05] juliobguedes opened #60 "Adicionar suporte à markdown/html"
**Descrição da melhoria:**
Muitas das coisas que fazemos podem ser auxiliadas com **links**. Tendo isso em vista, é interessante adicionar um suporte à Markdown ou HTML nas descrições.

**Necessidade da melhoria:**
A melhoria é necessária pois, por exemplo, ao adicionarmos lugares (blocos, por exemplo), é interessante adicionarmos links para o google maps indicando a localização. Essa é apenas uma

[2019-03-09 23:15] juliobguedes opened #61 "Corrigir script de pre-commit"
**Descreva o bug**
Enquanto o script de pre-commit estava implementado em python, ele ordenava os dados antes do commit. Entretanto, após ser refeito em Node, agora os dados alterados pelo script não são incluídos no commit

**Reprodução do bug**
Passos para reproduzir o comportamento indesejado:
1. Altere algum dos arquivos de dados (em `src/lib`) de forma a alterar a ordem alfabética de um dos a

[2019-03-10 03:09] thayannevls opened #63 "Visualização do glossario de forma exploratoria"
**Descrição da melhoria:**
O usuário disse que entendeu que a intenção é você entrar e pesquisar o termo, mas ele sentiu a necessidade de dar a experiência de navegação e conhecer a plataforma, no caso poder clicar em termos e ver significados.

**Necessidade da melhoria:**
Sugeriu uma listagem de termos onde o usuário possa clicar e veja o significado, dessa forma ele pode ver como a plataforma f

[2019-03-10 19:38] JoseRenan commented on #63
Poderia ser algo como uma tela com cards que agrupariam os tipos de termos, e quando clicasse tivesse uma lista dos termos daquele tipo...

[2019-03-10 19:41] thayannevls commented on #44
Vou fazer esses:
- FMCC1
- IC
- FMCC2
- P2
- PLP
- TG

[2019-03-10 20:07] JoseRenan commented on #60
Seria uma boa a gente dar uma olhada se tem como limitar as features do markdown, tipo, evitar headings, só as de formatação de paragrafo mesmo tipo hyperlink, negrito, itálico

[2019-03-10 20:22] JoseRenan commented on #60
Isso de desabilitar headings seria mais por questão de não atrapalhar o layout do glossário, vi que tem como desabilitar alguns nodes no react-markdown https://github.com/rexxars/react-markdown#node-types

[2019-03-10 20:22] JoseRenan commented on #60
Ping @pedroespindula @paulojbleitao

[2019-03-10 20:26] thayannevls commented on #60
Mas ai seria trabalho da revisão, não?

[2019-03-10 20:33] JoseRenan commented on #60
Sim sim, mas se der pra limitar e a revisão nn precisar se preocupar com isso é melhor nn?

[2019-03-10 21:04] lucasmedeiros commented on #44
Vou fazer esses:

- LCC1
- LCC2
- LCC3

[2019-03-12 09:08] jonathantvrs opened #70 "Adicionar optativas Gerais"
Pessoal, as optativas gerais não vão ser adicionadas?

[EDIT]

A seguinte lista de optativas gerais não está ainda no glossário:

(Se alguma das disciplinas listadas não for uma optativa geral, ou não fizer sentido estar aqui, comente abaixo)

- [ ] Língua Portuguesa (antes Leitura e Produção de Textos)
- [ ] Informática e Sociedade
- [ ] Economia
- [ ] Direito e Cidadania
- [ ] Inglês
- [ ] Admin

[2019-03-12 23:59] pedroespindula opened #72 "Refatoramento para usar uma pagina apenas pra o glossario"
**Descrição da melhoria:**
Refatorar codigo para não haver duas paginas separadas. Atualmente existe a pagina de resultados e a home do glossario.

**Necessidade da melhoria:**
Evitar codigo duplicado e facilitar a manutenção futuramente.

**Como ela pode ser implementada:**
A partir de propriedades css pode-se esconder e mostrar os resultados da pesquisa num container.

[2019-03-13 00:03] pedroespindula opened #73 "Funcionalidade do botão de pesquisa"
**Descrição da melhoria:**
Botão de pesquisa poderia ser usado para procurar em todos os termos.

**Necessidade da melhoria:**
Atualmente o botão de pesquisa não apresenta funcionalidade.

**Como ela pode ser implementada:**
Criação de um filter na lista de acronimos com o resultado do input.

[2019-03-13 00:27] #20 closed, assigned to pedroespindula

[2019-03-13 01:31] JoseRenan opened #75 "Página vazia quando não encontra resultados"
**Descreva o bug**
Quando é pesquisado um termo que não existe, é exibido uma página vazia

**Reprodução do bug**
Acessar https://glossario.opendevufcg.org/#/aksjdlka

**Comportamento desejado**
Talvez fosse interessante mostrar uma mensagem de resultado não encontrado

**Capturas de tela**
![image](https://user-images.githubusercontent.com/11728746/54247106-72da0a80-4516-11e9-9414-f182a13d0cc0.pn

[2019-03-13 16:22] thayannevls commented on #18
Sugestão: Qualquer termo ter o campo "referencia" ou "verMais", acho que seria melhor.

[2019-03-13 19:06] juliobguedes commented on #18
A gente vai tipar isso de alguma forma? Flow, TS, ...

[2019-03-13 21:50] JoseRenan commented on #18
Eu tava pensando sobre só definir no contributing msm, até pq os dados tão em .json, só se a gente tipasse só no código (o que é uma boa, se não deixar a contribuição complicada pra React newcomers), essa issue pode se tornar uma discussão sobre isso de adicionar os atributos btw, e quais atributos seriam legais pra adicionar no locais.json

[2019-03-13 22:16] JoseRenan opened #77 "Adicionar termos relacionados ao github e contribuições"
#### Nome dos termos:
Fork, PR, Issue, Commit (e outros que acharem interessantes)

#### Contexto adicional:
Esses termos foram solicitados por feras que procuraram no glossário alguns termos que acharam nos nossos readmes e não encontraram... Seria mto bom ter eles aqui

[2019-03-13 22:19] JoseRenan commented on #75
Seria bom ter algo sugerindo o usuário a contribuir para adicionar o termo ou criar uma issue pra ter esse termo, ou pra perguntar o que ele significa numa issue...

[2019-03-13 22:22] JoseRenan commented on #70
Serão adicionadas sim, a gente adicionou todas que encontramos num documento das disciplinas ofertadas, e algumas da antiga grade, mas não achamos o documento com as Gerais, inclusive se tiver algumas pra listar, pode dizer aqui que alguém adiciona!!!

[2019-03-13 22:23] JoseRenan commented on #70
Algumas que eu conheço são:

- Lingua Portuguêsa (antes Leitura e Produção de Textos)
- Informática e Sociedade

Algumas que eu não sei se são gerais:

- Economia

[2019-03-14 00:53] jonathantvrs commented on #70
- Economia
- Direito e Cidadania
- Inglês

[2019-03-14 00:56] jonathantvrs commented on #70
- Administração e Empreendedorismo
- Administração

E sim, parece que tem as duas e são diferentes

[2019-03-15 14:16] thayannevls opened #80 "Colocar link do site no README."
**Descrição da melhoria:**
Colocar link do site no README do repositório.

**Necessidade da melhoria:**
Para dar mais visibilidade ao site.

[2019-03-16 22:12] JuanBarros2 commented on #80
@OpenDevUFCG/roadmap/test

[2019-03-16 22:17] JuanBarros2 commented on #80
@OpenDevUFCG/teste

[2019-03-17 17:53] pedroespindula commented on #77
- Mais termos para serem adicionados.
1. SEI: Sistema Eletronico de Informações
1. PRE: Pro Reitoria de Ensino
1. CEEI: Coordenação de Engenharia Eletrica e Informatica
1. AMARELINHA: Xerox Amarelinha
1. Laguinho

[2019-03-17 18:00] pedroespindula commented on #18
Ao adicionar o suporte a MD, foi posssibilitado a colocação de links, com isso pode-se colocar a localização através de um link no maps. No entanto, essa issue ainda é valida para adicionar esses llinks nos locais que estão faltando.

[2019-03-17 18:56] JoseRenan commented on #63
@pedroespindula @juliobguedes o que vcs acham?

[2019-03-17 19:04] JoseRenan commented on #70
Vou editar a descrição pra colocar um checklist das optativas a serem adicionadas, assim como tá na #44

[2019-03-17 21:04] #60 closed, assigned to juliobguedes

[2019-03-17 21:38] JoseRenan commented on #77
Esse já tem :thinking:

[2019-03-17 22:27] juliobguedes opened #83 "Adicionar novos termos"
Adicionar termos pedidos por @pedroespindula na #77

#### Nome do termo:

* SEI: Sistema Eletronico de Informações
* PRE: Pro Reitoria de Ensino
* CEEI: Coordenação de Engenharia Eletrica e Informatica
* AMARELINHA: Xerox Amarelinha
* Laguinho

[2019-03-17 23:21] #77 closed, assigned to juliobguedes

[2019-03-18 02:11] #75 closed, assigned to juliobguedes

[2019-03-19 12:32] juliobguedes commented on #18
Closed by #82.

[2019-03-19 12:32] #18 closed, assigned to nobody

[2019-03-21 04:08] #14 closed, assigned to nobody

[2019-03-22 02:28] thayannevls opened #88 "Adicionar efeito de hover nos botões"
**Descrição da melhoria:**
Os Links "Como Contribuir" e "Quem Somos" podem ter um efeito de hover simples e minimalista.

**Necessidade da melhoria:** Melhorar o design da página e passar melhor a impressão que é "clicavel"
**Como ela pode ser implementada:** Talvez um efeito que mude um pouco a cor para mais clara ou escura

[2019-03-22 02:34] thayannevls opened #89 "Adicionar efeito ao passar o mouse no termo em "Você sabe...""
**Descrição da melhoria:**
Quando passar o mouse no termo que aparece em "Você sabe o que é ..." era bom adicionar algum efeito ao passar o mouse por cima (hover)

**Necessidade da melhoria:** para passar melhor a impressão de clicável

**Como ela pode ser implementada:**
Talvez sublinhá-lo ao passar o mouse

[2019-03-22 03:18] JoseRenan commented on #89
Deixar ele levemente mais claro seria toptop

[2019-03-22 03:20] #80 closed, assigned to nobody

[2019-03-22 19:43] #89 closed, assigned to nobody

[2019-03-25 23:16] JoseRenan opened #91 "@paulo mandou eu criar isso pra testar o webhook do discord"

[2019-03-25 23:17] #91 closed, assigned to nobody

[2019-03-25 23:17] JoseRenan commented on #91
Funcionou!

[2019-03-29 17:19] pedroespindula commented on #63
Poderia ser utilizado um botão ou um link que acionaria um outro estado, e faria essa visualização.

[2019-03-30 01:02] pedroespindula opened #93 "Adicionar localizações de termos do tipo "local""
**Descrição da melhoria:**
A maioria dos termos do tipo `local` não possui uma localização. A melhoria é adicionar a esses termos essa localização.

**Necessidade da melhoria:**
Facilitar a identificação e acesso do local pelos estudantes.

**Como ela pode ser implementada:**
Seguir o modelo implementado no termo `LCC1`, que usa de um link no maps para mostrar a localização. Esse link é usado como

[2019-03-31 23:15] mariana-mendes opened #95 "Nome de alguns laboratórios"
#### Nome do termo:
LSD, SPLab...

#### Significado do termo:
Laboratório de Sistemas Distribuídos, Software Practices Laboratory...

#### Descrição:
Laboratórios dentro da UFCG

#### Tipo:

- [x] Curso
- [ ] Disciplina
- [ ] Giria
- [x] Local
- [ ] Outro

#### Exemplo de aplicação em frase:
"A aula de P1 hoje será no SPLab."
"A sala da professora Lívia fica no LSD"

[2019-04-03 21:39] lucasmedeiros opened #96 "Retirar link do Gitter do README.md e adicionar o Discord"
**Descrição da melhoria:**
No arquivo `README.md`, possui o seguinte:

Ao invés de *nosso canal no gitter*, colocar *nosso canal no Discord*, com o devido link.

**Necessidade da melhoria:**
Não utilizamos mais o Gitter, e as pessoas poderiam achar que ainda estamos por lá e que serão respondidas.

**Como ela pode ser implementada:**
Trocar o texto para **nosso canal no Discord** e alterar o link.

[2019-04-04 21:00] pedroespindula commented on #83
ATG: Aplicação de Teoria dos Grafos

[2019-04-04 21:03] juliobguedes commented on #83
APLP: Aplicação de Paradigmas de Linguagem de Programação

[2019-04-05 17:04] pedroespindula commented on #83
RI: Recuperação da Informação

[2019-04-05 23:36] pedroespindula commented on #88
#92 Fixes

[2019-04-05 23:36] #88 closed, assigned to nobody

[2019-04-06 00:05] RaylaMedeiros commented on #93
Não seria mais simples se houvesse um atributo no json pra o link da localização?

[2019-04-06 00:07] thayannevls commented on #93
Também acho @RaylaMedeiros , também facilitaria pra no futuro mostrar a miniatura do google maps no site

[2019-04-06 00:09] pedroespindula commented on #93
Foi adotado um modelo padrão para todas os termos e por isso não existe hoje esse atributo, mas é realmente uma boa ideia. Uma ideia dada por @ivynasantino foi que fosse criado um campo para atributos auxiliares como a `localização`, que seria um objeto onde a chave seria o nome do atributo e o valor, o valor do atributo.

[2019-04-07 20:51] JoseRenan commented on #93
A ideia inicial quando dividimos em vários JSON foi que tivesse uma estrutura padrão que todos os JSON teria e cada um teria os atributos específicos, tipo, o de disciplinas poderia ter link pro tamburetei por exemplo, o de locais poderia ter a geolocalização e etc, isso foi discutido em alguma issue, porem nunca implementado

[2019-04-11 16:52] thayannevls commented on #63
@pedroespindula @JoseRenan Queria começar a implementar isso esse final de semana, pois estou precisando aplicar alguns conceitos de *React* e essa task seria ideal. Posso começar a fazer?

[2019-04-11 22:20] #96 closed, assigned to nobody

[2019-04-11 22:26] pedroespindula commented on #63
Pode sim, @thayannevls! Avisa se precisar de alguma coisa!

[2019-04-18 14:53] thayannevls opened #100 "Reorganizar os componentes diferenciados por views"
**Descrição da melhoria:**
Separar melhor os componentes de acordo com suas Views e talvez melhorar os nomes dos componentes também.

**Necessidade da melhoria:**
A atual estrutura de diretório de componentes está confusa e será implementado novas páginas, o que torna ainda mais confuso. Se faz necessário em separar melhor os componentes e agrupá-los de maneira que faça sentido.

**Como ela pode s

[2019-04-18 15:40] thayannevls commented on #100
@pedroespindula Estou utilizando o `ResultCard` e refatorando para ele ser ser mais customizável com estilos. Se puder, bota ele no `commons` :) quem sabe renomeia ele pra algo como`TermCard`

[2019-04-18 16:04] thayannevls opened #101 "Refatoramento do componente TermCard"
**Descrição da melhoria:**
Renomear o componente para `TermCard` e fazer ele customizável, tendo props de tamanho e estilo.

**Necessidade da melhoria:**
O card pode ser usado para outros contextos além da página de resultados da pesquisa.

**Como ela pode ser implementada:**
Criar props para tamanho, e se preciso de estilo também. Definir os tipos possíveis, e talvez usar `proptypes`.

[2019-04-19 01:20] #100 closed, assigned to thayannevls, pedroespindula

[2019-05-02 16:26] #72 closed, assigned to pedroespindula

[2019-05-26 20:09] fanny commented on #73
Eu tava debugando, e vi que o componente que tem o botão é o search, nele vocês usam uma biblioteca externa pra definir o select e passam esse [handler]( https://github.com/OpenDevUFCG/glossario-ufcg/blob/a84e5c5cd496ae46dc5a636cdc38b3dd5ce7eabe/src/components/glossary/GlossaryPage.js#L23-L25) pra ele.

O problema é que, como esse input não é gerenciado por vocês, é necessário passar pra os listen

[2019-05-26 20:12] fanny commented on #73
Aproveitando o ensejo, por quê o `Glossary` não é um componente funcional?

**Sugestão:**
Eu vi que aqui vocês usam renderização condicional, acho que dá pra substituir esse trecho
https://github.com/OpenDevUFCG/glossario-ufcg/blob/a84e5c5cd496ae46dc5a636cdc38b3dd5ce7eabe/src/components/glossary/GlossaryPage.js#L50-L54

por:
[code]

Pra não precisar passar uma string vazia, o mesmo vale pra o que

[2019-06-11 00:25] #83 closed, assigned to nobody

[2019-07-17 23:44] juliobguedes commented on #44
Update adicionando Semana do Fera

[2019-07-21 01:16] thayannevls commented on #73
@pedroespindula

[2019-07-30 10:24] fanny opened #112 "Remover arquivo em branco"
**Descrição da melhoria:**
Não sei se deveria existir uma utilidade pra [esse arquivo](https://github.com/OpenDevUFCG/glossario-ufcg/blob/master/src/styles/material/colors.css), mas atualmente ele é vazio, e é importado apenas no index.

[2019-07-31 01:39] thayannevls commented on #112
Realmente não tá sendo usado pra nada, acho que pode remover

[2019-08-02 02:09] #112 closed, assigned to fanny

[2019-08-30 12:11] thayannevls opened #117 "Incluir categoria estabelecimento para termos"
**Descrição da melhoria:**
Incluir categoria de estabelecimento nos termos, talvez incluindo também o link do Google maps.

**Necessidade da melhoria:**
Estabelecimentos como xerox e restaurantes são úteis para novatos na Universidade que não conhecem.

**Como ela pode ser implementada:**
Adição do termo no json dos dados e adição de campo google maps.

[2019-10-01 16:35] #61 closed, assigned to nobody

[2019-10-02 12:38] pedroespindula commented on #73
Essa issue foi fechada automaticamente mas ainda não foi resolvida por isso foi reaberta

[2019-10-02 23:04] fanny commented on #44
Reabrindo! Vamos ajudar, pessoal!

[2019-10-02 23:06] fanny commented on #117
vou fechar essa e deixar centralizado na #44

[2019-10-02 23:07] #117 closed, assigned to nobody

[2019-10-02 23:33] fanny commented on #44
Tava pensando se fazia sentido, incluir alguns siglas que a gnt vế aqui no github. Tipo `LGTM` ou `TLDR;` o que acham?

[2019-10-03 00:06] fanny opened #119 "Criaçao de componente para o header"
**Descrição da melhoria:**
Atualmente, nós nao temos um componente para o header, isso é feito via css, dependendo do que a pagina possui.
https://github.com/OpenDevUFCG/glossario-ufcg/blob/3f468202b017983dc5bf593719ef4ca9911cc335/src/components/glossary/GlossaryPage.js#L41
**Necessidade da melhoria:**
Isso dificulta o desenvolvimento de novas paginas que precisem fazer uso do mesmo.

**Como ela p

[2019-10-03 00:15] fanny opened #120 "Adicionar proptypes nos componentes"
**Descrição da melhoria:**
Seria legal incluir os tipos esperados das propriedades que sao passadas para os componentes

[2019-10-03 00:20] fanny opened #121 "Atualizar componentes de classe para fazerem uso de hooks"
**Descrição da melhoria:**
Seria legal nossos componentes terem um formato mais funcional, tornando-os mais intuitivos e para ajudar com isso, o React provê as [`hooks`](https://pt-br.reactjs.org/docs/hooks-intro.html)

[2019-10-03 00:25] JKarlavige commented on #121
I would be happy to help!

[2019-10-03 02:57] luizcieslak commented on #120
Posso ajudar com essa issue!

[2019-10-03 03:00] fanny commented on #120
Obrigada @luizcieslak! Vou atribuir ela a você! Se precisar de ajuda é só chamar.

[2019-10-03 03:04] fanny commented on #121
Hi @JKarlavige! Thanks for the interesting. I will attribute this issue for you! If you need help, you can comment on this thread, and I would be happy to help you

[2019-10-03 03:52] luizcieslak commented on #119
Gostaria de ajudar nessa também, se possível. Minha ideia é separar a div com classe `glossary__search-tools` em um componente, e.g. `<Header />` e criar uma rota para o `/`, o que implica que a homepage também deve ter um componente separado.

[2019-10-03 12:27] fanny commented on #119
O caminho é esse mesmo @luizcieslak , não entendi a parte da rota, poderia tentar descrever de outra forma? Vou atribuir ela a você!

[2019-10-04 19:34] #120 closed, assigned to luizcieslak

[2019-10-05 18:40] #121 closed, assigned to JKarlavige

[2019-10-09 12:27] #119 closed, assigned to luizcieslak

[2019-10-09 18:10] thayannevls opened #130 "Glossário não está mais responsivo em mobile."
**Descreva o bug**
A interface não está mais se adaptando em telas pequenas, o que é estranho por que antes se adaptava normalmente.

**Reprodução do bug**
Abra glossário no celular ou na parte responsiva do devtools do seu browser.

**Comportamento desejado**
Ser responsivo a tela.

**Capturas de tela**
![Screenshot from 2019-10-09 15-11-41](https://user-images.githubusercontent.com/6867958/66508

[2019-10-09 19:13] evelew commented on #130
Oie, eu posso corrigir isso :)

[2019-10-10 03:09] thayannevls commented on #130
Opa @evelew muito obrigada! Darei assign em você.

Caso ajude, desconfio que foi nas PRs mais recentes que ficou assim.

[2019-10-10 10:55] pedroespindula commented on #24
@juliobguedes , posso tentar pegar essa task?

[2019-10-10 10:58] pedroespindula opened #132 "Lint falhando e adição de proptypes"
**Descrição da melhoria:**
Extinguir falhas do lint.

**Necessidade da melhoria:**
Deseja-se usar a verificação do lint no travisCI, e, para não quebrar a pipeline, essas falhas devem ser corrigidas.

**Como ela pode ser implementada:**
A maioria dessas falhas está relacionada com a validação de props faltando, com isso, deve-se usar propTypes para validar isto.

[2019-10-10 11:06] pedroespindula commented on #6
O favicon deve ser adicionado ao webpack para funcionar do jeito que deveria.

[2019-10-10 12:20] juliobguedes commented on #24
Oi Pedro, pode sim :)

[2019-10-10 15:17] jonathan-sh commented on #132
@pedroespindula você está implementando?
Caso não esteja, eu gostaria de resolver essa.

[2019-10-10 15:42] pedroespindula commented on #132
Eu tava, mas foi quase nada. Vou me tirar e tu pode fazer.

[2019-10-10 23:10] #6 closed, assigned to nobody

[2019-10-11 00:36] evelew commented on #130
@thayannevls Oks, vou investigar aqui, obrigada pela dica

[2019-10-21 13:40] #70 closed, assigned to nobody

[2019-10-24 01:52] #95 closed, assigned to nobody

[2019-10-24 14:32] juliobguedes opened #150 "Links externos"
**Descrição da melhoria:**
Adicionar links externos nos termos já existentes, quando possível.

**Necessidade da melhoria:**
Alguns dos nossos termos se referem à outras comunidades dentro de CC@UFCG: Elas, Caesi, Guardians, etc. Desse modo, seria interessante linkar os perfis e/ou páginas das outras comunidades aqui no glossário, facilitando assim o acesso às informações mais recentes das outras

[2019-10-24 17:49] #132 closed, assigned to jonathan-sh

[2019-10-28 13:27] #93 closed, assigned to nobody

[2019-10-30 02:37] #130 closed, assigned to evelew

[2019-10-30 20:26] juliobguedes opened #154 "Redirecionamento de rota"
**Descrição da melhoria:**
Permitir acesso às páginas independente se o termo foi escrito idêntico à entrada ou não.

**Necessidade da melhoria:**
Atualmente, é possível acessar diretamente o significado de um termo por sua URL, a exemplo de https://glossario.opendevufcg.org/#/SO. Entretanto, caso seja digitado o SO em minúsculo na URL (https://glossario.opendevufcg.org/#/so), somos redirecionados

[2019-10-31 00:02] #44 closed, assigned to nobody

[2019-11-06 16:57] #154 closed, assigned to juliobguedes

[2022-11-05 18:17] #150 closed, assigned to nobody